<div class= "goshuin_main">

  <%# 左側：神社一覧情報 %>
  <div id= 'nav'>
  <% if params[:shrine_id] %>
  <h1>神社一覧</h1>
    <%= render 'shrines/nav' %>
  <% elsif params[:temple_id] %>
  <h1>寺院一覧</h1>
    <%= render 'temples/nav' %>
  <% end %>
  </div>

    <%# 中央：コメント表示欄 %>
    <div class='goshuin_comment'>
    <% if params[:shrine_id] %>
      <h1 class="title"><span class='title_span'><%= @shrine.name %></span>のお祭り</h1>
    <% elsif params[:temple_id] %>
      <h1 class="title"><span class='title_span'><%= @temple.name %></span>のお祭り</h1>
    <% end %>
    
      <div class='comments'>
      <% if params[:shrine_id] %>
        <%= render partial: 'shrineComments/goshuin', collection: @goshuins %>
      <% elsif params[:temple_id] %>
        <%= render partial: 'templeComments/goshuin', collection: @goshuins %>
      <% end %>
      </div>
      <%= paginate @goshuins %>

      <% if params[:shrine_id] %>
        <%= render partial: 'shrineComments/goshuinComment' %>
      <% elsif params[:temple_id] %>
        <%= render partial: 'templeComments/goshuinComment' %>
      <% end %>
    </div>

  <%# 右側：神社説明欄 %>
  <% if params[:shrine_id] %>
  <%= render partial: 'shrineComments/goshuinInfo' %>
  <% elsif params[:temple_id] %>
  <%= render partial: 'templeComments/goshuinInfo' %>
  <% end %>
</div>

<script type="text/javascript" src="shrines/show"></script>