<div class = 'shrine_index_page'>
  <%= image_tag '下関住吉神社本殿.jpeg', class: 'photo' %>
  <div class='list'>
    <div id='shrine_tori'>
      <div class= 'left_nav'>
        <%= image_tag '神社の鳥居.png', class:'shrine_tori_image' %>
        <h1>神社一覧</h1>
      </div>
      <div class='right_nav'>
          <%= search_form_for @search, :class=>'search-form' do |f| %>
            <%= f.search_field :name_cont, class: 'input-box' %>
            <label class="search-icon">
            <%= f.submit '検索', :class=>'search-button' %>
            </label>
          <% end %>    
        <%= link_to new_shrine_path, class:'shrine_link' do %>
        <h3>神社を紹介する</h3>
        <% end %>
      </div>
    </div>
    <div id='shrine_contents'>
      <ul>
      <% if request.url.match(/commit/)%>
        <% @search_shrines.each do |search_shrine| %>
          <%= link_to shrine_path(search_shrine.id), class:'shrine_link' do %>
            <div class='content'>
              <li class='name'><%= search_shrine.name %></li>
              <li><%= image_tag search_shrine.images.first, class: 'first_image' %></li>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <% @shrines.each do |shrine| %>
          <%= link_to shrine_path(shrine.id), class:'shrine_link' do %>
            <div class='content'>
              <li class='name'><%= shrine.name %></li>
              <li><%= image_tag shrine.images.first, class: 'first_image' %></li>
            </div>
          <% end %>
        <% end %>
      <% end %>
      </ul>
    </div>
  </div>
</div>
</div>