<div class = 'shrine_show'>
  <div id= 'nav'>
  <h1>最近投稿された神社</h1>
    <%= link_to '神社一覧ページへ戻る', shrines_path, class:'page_list' %>
    <%= render 'nav' %>
  </div>
  <div class = 'show_main'>
    <div class = 'title'>
      <div class = 'shrine_name'>
        <%= @shrine.name %>
      </div>

      <div class = 'shrine_edit'>
        <% if user_signed_in? %>
          <%= link_to "編集", edit_shrine_path, method: :get, class: "edit-btn" %>
          <% if current_user.id == @shrine.user.id %>
          <%= link_to "削除", shrine_path(@shrine.id), method: :delete, class: "edit-btn" %>
          <% end %>
        <% end %>
      </div>
    </div>


    <%# 神社画像の表示 %>
    <div class = 'show_image'>
      <%= render 'swiper'%>
    </div>

    <%# 神社情報の表示 %>
    <div class = 'show_info'>
      <div class = 'guide'>
      <h1>神社について</h1>
        <table>
          <tr>
            <%# <td class = 'info'>説明</td> %>
            <td colspan="2", class='shrine_info'><%= @shrine.info %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @shrine.address %></td>
          </tr>
          <tr>
            <td>ご利益</td>
            <td><%= @shrine.benefits.name %></td>
          </tr>                 
        </table>
      </div>

      <%# 神社の所在地を示す地図の表示 %>
      <div class = 'shrine_map'>
        <div id="map" data-json="<%= @shrine.to_json %>"></div>
      </div>    
    </div>

    <div id="wrap">
      <div id="tab1" class="tab selected">祭・神事</div>
      <div id="tab2" class="tab">御朱印</div>
      <div id="tab3" class="tab">建築物</div>
      <div id="tab4" class="tab">自然・景色</div>
      <div id="tab5" class="tab">歴史</div>

      <div id="container">
        <div id="slide" class="">
          <div id="first" class="box">
            <%# 神社の祭りのコメント欄（top10） %>
            <div class = 'shrine_comments'>
                <div class="shrine_comment_content">
                  <h4>コメント一覧</h4>
                  <%= render partial: 'festival', collection: @festivals %>
                  <%= link_to "もっと見る", "/shrines/#{@shrine.id}/festivals" %>
                </div>
            </div>
          </div>

          <div id="second" class="box">
          <%# 神社の御朱印のコメント欄（top10） %>
            <div class = 'shrine_comments'>
                <div class="shrine_comment_content">
                  <h4>コメント一覧</h4>
                  <%= render partial: 'goshuin', collection: @goshuins %>
                  <%= link_to "もっと見る", "/shrines/#{@shrine.id}/goshuins" %>
                </div>
            </div>
          </div>

          <div id="third" class="box">
          <%# 神社の祭りのコメント欄（top10） %>
            <div class = 'shrine_comments'>
                <div class="shrine_comment_content">
                  <h4>コメント一覧</h4>
                  <%= render partial: 'build', collection: @builds %>
                  <%= link_to "もっと見る", "/shrines/#{@shrine.id}/builds" %>
                </div>
            </div>
          </div>

          <div id="four" class="box">
          <%# 神社の祭りのコメント欄（top10） %>
            <div class = 'shrine_comments'>
                <div class="shrine_comment_content">
                  <h4>コメント一覧</h4>
                  <%= render partial: 'nature', collection: @natures %>
                  <%= link_to "もっと見る", "/shrines/#{@shrine.id}/natures" %>
                </div>
            </div>
          </div>
          
          <div id="five" class="box">
          <%# 神社の祭りのコメント欄（top10） %>
            <div class = 'shrine_comments'>
                <div class="shrine_comment_content">
                  <h4>コメント一覧</h4>
                  <%= render partial: 'history', collection: @histories %>
                  <%= link_to "もっと見る", "/shrines/#{@shrine.id}/histories" %>
                </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>

<script src="//unpkg.com/swiper/swiper-bundle.min.js"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap"></script>
