<div class = 'shrine_show'>
  <div class = 'show_main'>

    <div class = 'shrine_name'>
      <%= @shrine.name %>
    </div>

    <%# 神社画像の表示 %>
    <div class = 'show_image'>
      <%= render 'swiper'%>
    </div>

    <%# 神社情報の表示 %>
    <div class = 'show_info'>
      <div class = 'guide'>
      <h1>神社について</h1>
        <table>
          <tr>
            <td class = 'info'>説明</td>
            <td><%= @shrine.info %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @shrine.address %></td>
          </tr>
          <tr>
            <td>ご利益</td>
            <td><%= @shrine.benefits.name %></td>
          </tr>                 
        </table>
      </div>

      <%# 神社の所在地を示す地図の表示 %>
      <div class = 'shrine_map'>
        <div id="map" data-json="<%= @shrine.to_json %>"></div>
      </div>    
    </div>

<div id="wrap">
  <div id="tab1" class="tab selected">すべて</div>
  <div id="tab2" class="tab">御朱印</div>
  <div id="tab3" class="tab">建築物</div>
  <div id="tab4" class="tab">自然</div>
  <div id="tab5" class="tab">歴史</div>

  <div id="container">
    <div id="slide" class="">
      <div id="first" class="box">
      </div>

      <div id="second" class="box">TAB TWO</div>
      <div id="third" class="box">TAB THREE</div>
      <div id="four" class="box">TAB FOUR</div>
      <div id="five" class="box">TAB FIVE</div>
    </div>
  </div>
</div>

        <%# この神社についてのコメント欄 %>
        <div class = 'shrine_comments'>
          <div class = 'comment_form'>
            <%= form_with( model: [@shrine, @comment], class: 'form', local: true) do |f| %>
              <div class="form-input">
                <%= f.text_field :text, class: 'form-comment', placeholder: 'コメント' %>
                <label class="form-image">
                  <span class="image-file">画像</span>
                  <%= f.file_field :image, class: 'hidden' %>
                </label>
              </div>
              <%= f.submit '送信', class: 'form-submit' %>
            <% end %>
          </div>

            <div class="shrine_comment_content">
              <h4>＜コメント一覧＞</h4>
              <%= render partial: 'comment', collection: @comments %>
            </div>
        </div>      

    
    <div class = 'first_category'>
      <%# 御朱印についての投稿 %>
      <div class = 'shrine_goshuin'>
      御朱印
      </div>

      <%# 神社の自然についての投稿 %>
      <div class = 'shrine_build'>
      建築
      </div>
    </div>
    <div class = 'second_category'>
      <%# 神社の自然についての投稿 %>
      <div class = 'shrine_nature'>
      自然
      </div>

      <%# 神社の歴史についての投稿 %>
      <div class = 'shrine_history'>
      歴史
      </div>        
    </div>
  </div>
</div>

<script src="//unpkg.com/swiper/swiper-bundle.min.js"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyadiU2YaDtGtxz6KHPYO_CHRG42Ji26g&callback=initMap"></script>
