<% @templesArray.each do |templesArray| %>
  <div class='post'>
    <%= link_to temple_path(templesArray.id), class:'link' do %>
    <h1><%= templesArray.name %></h1>
    <% end %>
    <p><%= templesArray.address %></p>
    <%= link_to temple_path(templesArray.id), class:'link' do %>
    <p class='prof_image'><%= image_tag templesArray.images.first %></p>
    <% end %>
    <p><%= simple_format(templesArray.info) %></p>
  </div>
<% end %>
