<div class= "nature_main">

  <%# 左側：神社一覧情報 %>
  <div id= 'nav'>
  <% if params[:shrine_id] %>
  <h1>神社一覧</h1>
    <%= render 'shrines/nav' %>
  <% elsif params[:temple_id] %>
  <h1>寺院一覧</h1>
    <%= render 'temples/nav' %>
  <% end %>
  </div>

    <%# 中央：コメント表示欄 %>
    <div class='nature_comment'>
    <div class='title_name'>
      <% if params[:shrine_id] %>
        <h1 class="item_title">
        <span class='title_span'>
        <%= link_to shrine_path(@shrine.id), class:'link' do %>
        <%= @shrine.name %>
        <% end %>
        </span>
        <span class='supplement'>の御朱印</h1>
      <% elsif params[:temple_id] %>
        <h1 class="item_title">
        <span class='title_span'>
        <%= link_to temple_path(@temple.id), class:'link' do %>
        <%= @temple.name %></span><span class='supplement'>の御朱印</h1>
        <% end %>
      <% end %>
    </div>
    
      <div class='comments'>
      <% if params[:shrine_id] %>
        <%= render partial: 'shrineComments/nature', collection: @natures %>
      <% elsif params[:temple_id] %>
        <%= render partial: 'templeComments/nature', collection: @natures %>
      <% end %>
      </div>
      <%= paginate @natures %>

      <% if params[:shrine_id] %>
        <%= render partial: 'shrineComments/natureComment' %>
      <% elsif params[:temple_id] %>
        <%= render partial: 'templeComments/natureComment' %>
      <% end %>
    </div>

  <%# 右側：神社説明欄 %>
  <% if params[:shrine_id] %>
  <%= render partial: 'shrineComments/natureInfo' %>
  <% elsif params[:temple_id] %>
  <%= render partial: 'templeComments/natureInfo' %>
  <% end %>
</div>

<script type="text/javascript" src="shrines/show"></script>