<div class= "nature_main">

  <%# 左側：神社一覧情報 %>
  <div id= 'nav'>
  <h1>神社一覧</h1>
    <%= render 'shrines/nav' %>
  </div>

    <%# 中央：コメント表示欄 %>
    <div class='nature_comment'>
      <h1 class="title"><span class='title_span'><%= @shrine.name %></span>の自然・絶景</h1>
      <div class='comments'>
        <%= render partial: 'comments/nature', collection: @natures %>
      </div>
      <%= paginate @natures %>
      <%= render partial: 'comments/natureComment' %>
    </div>

  <%# 右側：神社説明欄 %>
  <%= render partial: 'comments/natureInfo' %>
</div>

<script type="text/javascript" src="shrines/show"></script>