<div class="comment_preview">
  <div class = "comment_image">
  
    <div class="comment-image comment">
      <!-- 投稿したメッセージ内容を記述する -->
      <div class='title'><%= build.title %></div>
      <%= link_to build.image, 'data-lightbox': @build.image do %>
      <%= image_tag build.image.variant(resize: '600x600'), class: 'comment-image' if build.image.attached? %>
      <% end %>
        <div class = "comment_text">
          <div class="comment-user comment">
            <!-- 投稿したユーザー名情報を出力する -->
            <div class='name'><%= build.user.nickname %></div>
          </div>  
          <div class="comment-content comment">
            <!-- 投稿したメッセージ内容を記述する -->
            <%= simple_format(build.text) %>
          </div>
        </div>
      </div>      
    </div>
</div>
