<!DOCTYPE html>
<html>
  <head>
    <title>Mainoru31924</title>
    <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <link rel="stylesheet" href="//unpkg.com/swiper/swiper-bundle.min.css">
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
