<div class = 'temple_index_page'>
  <%= image_tag '龍安寺石庭.jpeg', class: 'photo' %>
  <div class='list'>
    <div id='temple_tori'>
      <div class= 'left_nav'>
        <%= image_tag '鐘.png', class:'temple_tori_image' %>
        <h1>寺院一覧</h1>
      </div>
      <div class='right_nav'>
        <%= search_form_for @search, :class=>'search-form' do |f| %>
          <%= f.search_field :name_or_address_cont, class: 'input-box' %>
          <label class="search-icon">
          <%= f.submit '検索', :class=>'search-button' %>
          </label>
        <% end %>
        <% if user_signed_in? %>  
          <%= link_to new_temple_path, class:'temple_link' do %>
          <h3>お寺を紹介する</h3>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id='temple_contents'>
      <ul>
        <% if request.url.match(/commit/)%>
          <% @search_temples.each do |search_temple| %>
            <%= link_to temple_path(search_temple.id), class:'temple_link' do %>
              <li class='content'>
                <div class='name'><%= search_temple.name %></div>
                <div><%= image_tag search_temple.images.first, class: 'first_image' %></div>
              </li>
            <% end %>
          <% end %>
        <% else %>      
        <% @temples.each do |temple| %>
        <%= link_to temple_path(temple.id), class:'temple_link' do %>
          <li class='content'>
            <div class='name'><%= temple.name %></div>
            <div><%= image_tag temple.images.first, class: 'first_image' %></div>
          </li>
        <% end %>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>