<div class = 'temple_index_page'>
  <%= image_tag '龍安寺石庭.jpeg', class: 'photo' %>
  <div class='list'>
    <div id='temple_tori'>
      <div class= 'left_nav'>
        <%= image_tag '鐘.png', class:'temple_tori_image' %>
        <h1>寺院一覧</h1>
      </div>
      <div class='right_nav'>
        <%= link_to new_temple_path, class:'temple_link' do %>
        <h3>お寺を紹介する</h3>
        <% end %>
      </div>
    </div>
    <div id='temple_contents'>
      <ul>
        <% @temples.each do |temple| %>
        <%= link_to temple_path(temple.id), class:'temple_link' do %>
          <div class='content'>
            <li class='name'><%= temple.name %></li>
            <li><%= image_tag temple.images.first, class: 'first_image' %></li>
          </div>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>